# SourceControlGenerator #
##########################
SourceControlGenerator.json

# Levels
######################
Mods/BookOfOrigins_395a6fbb-f855-4cb0-97a9-6674bfd1799b/Levels/*
Mods/BookOfOrigins_395a6fbb-f855-4cb0-97a9-6674bfd1799b/Globals/*
Editor/Mods/BookOfOrigins_395a6fbb-f855-4cb0-97a9-6674bfd1799b/Levels/*

# Story files        #
######################
*.div
*.raw
story_orphanqueries_ignore.txt
Mods/BookOfOrigins_395a6fbb-f855-4cb0-97a9-6674bfd1799b/Story/Dialogs/Autosave/*
Mods/BookOfOrigins_395a6fbb-f855-4cb0-97a9-6674bfd1799b/Story/Dialogs/Recovered/*

# Asset Folders      #
######################
Public/BookOfOrigins_395a6fbb-f855-4cb0-97a9-6674bfd1799b/Assets/*
#Public/BookOfOrigins_395a6fbb-f855-4cb0-97a9-6674bfd1799b/GUI/*

# Editor files       #
######################
RootTemplateSelectorConfig_*
ResourceSelectorConfig_*
StatsEditorConfig.xml
EffectEditorConfig.xml
DockPanel.config
EditorBrowserMetadata_*
EditorBrowserMetadata.xml
Autosave/*
Recovered/*
ReConHistory.txt
story.debugInfo

# Assets             #
######################
*.gr2
*.dae
*.swf
*.bullet
*.dds
*.tga
*.png
*.ttf
*.lsb
*.lsf
*.lsfx
*.lsefx
#*.lsx
*.lsmg

# Logs               #
######################
*.log
*.ailog
log.txt
errors.txt
dialoglog.txt
personallog.txt

# Binary Files       #
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.osi
*.patch
*.tmpl

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# VS Code #
############
launch.json

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lnk


